.about h1 {
    font-family: 'Courier New', Courier, monospace;
}

.about {
    margin: 200px;
    font-family: 'Courier New', Courier, monospace;
    border: 5px tomato solid;
    padding: 30px;
}

.about p {
    font-size: 20px;
} 