.form-title {
  text-align: center;
  font-family: 'open sans', sans-serif;
  padding: 2rem 0;
  font-size: 2rem;
  color: rgb(113, 43, 30);
  margin-top: 50px;
  margin-left: 10px;
}

.form-div {
  background-color: #f0eeeb;
}

.form-row label {
  font-size: 20px;
  color: #652c20;
}

.form-article {
  display: grid;
  grid-template-columns: 1fr;
  /*1fr 1fr*/
  align-items: center;
  justify-content: space-between;
}

.form-section1 {
  margin-left: 40px;
  margin-top: 0px;
}

.form-section2 , .form-section3, .form-section4{
  margin: auto;
}

.form-input {
  margin: 12px 10px;
  border: 1px solid black;
  padding: 8px 5px;
  border-radius: 5px;
  width: 75%;
}

.labels1, .labels2 {
  margin-left: 35px;
}

.form-textarea {
  height: 4em;
  width: 26em;
  margin-bottom: 10px;
  border-radius: 5px;
}

textarea {
  resize: none;
}

#form-btn {
  padding: 10px 40px;
  border: none;
  border-radius: 3px;
  margin-bottom: 10px;
  margin-left: 150px;
  background-color: #6d3329;
  color: white;
}

@media screen and (min-width: 501px) {
  .form-title {
    font-size: 50px;
    margin-top: 50px;
    margin-left: 10px;
  }

  .form-article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-around;
  }

  .form-section1 {
    margin-left: 180px;
  }
  .form-section3 {
    margin-left: 100px;
    margin-top: 0px;
  }
  
  .form-section2, .form-section4 {
    margin-left: 10px;
  }

  .form-input {
    width: 60%;
  }

  .labels1, .labels2{
    margin-left: 35px;
  }

  .form-textarea {
    height: 8em;
    width: 40em;
    margin: 10px 0;
  }

  #form-btn {
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 470px;
    width: 30%;
  }
}