.login {
    max-width: 500px;
    min-width: 300px;
    max-height: 700px;
    width: 30%;
    height: 60%;
    margin: 80px auto;
    background-color: #FFFFFF;
    border-radius: 25px;
    padding-bottom: 20px;
} 

.login-main {
    padding-top: 40px;
    padding-bottom: 40px;
}

.h2-login {
    text-align: center;
    font-family: 'open sans', sans-serif;
    padding: 2rem 0;
    font-size: 2rem;
    color: black
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    max-width: 100%;
}

.login-label {
    margin: 5px 0;
}

.login-input {
    border: 1px solid black;
    padding: 10px;
    border-radius: 25px;
}

.login-form:focus {
    box-shadow: inset 0px -3px 0px 0px #ff7961;
    outline: none;
}

.login-form input::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.25s ease-out;
}

.login-form input:hover::-webkit-input-placeholder,
.login-form input:focus::-webkit-input-placeholder {
    opacity: 0;
}

.login-button {
    border-radius: 25px;
    width: 80%;
    height: 40px;
    font-size: 1.3rem;
    color: white;
    font-weight: 700;
    background: linear-gradient(90deg, rgb(255, 124, 101) 0%, rgb(255, 102, 46) 100%);
    border: 0px;
    cursor: pointer;
    transition: opacity 0.25s ease-out;
    margin-top: 25px;
}

.message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.message a {
    text-decoration: none;
}

@media screen and (min-width: 501px) {
    .login {
        max-width: 500px;
        min-width: 300px;
        max-height: 700px;
        width: 30%;
        height: 60%;
        margin: 80px auto;
        background-color: #FFFFFF;
        border-radius: 25px;
        padding-bottom: 20px;
    }

    .h2-login {
        text-align: center;
        font-family: 'open sans', sans-serif;
        padding: 2rem 0;
        font-size: 2rem;
        color: black
    }

    .login-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 2rem;
        max-width: 100%;
    }

    .login-label {
        margin: 5px 0;
    }

    .login-input {
        border: 1px solid black;
        padding: 12px;
        border-radius: 25px;
        width: 44%;
        text-align: center;
    }

    .login-form:focus {
        outline: none;
    }

    .login-form input::-webkit-input-placeholder {
        opacity: 1;
        transition: opacity 0.25s ease-out;
    }

    .login-form input:hover::-webkit-input-placeholder,
    .login-form input:focus::-webkit-input-placeholder {
        opacity: 0;
    }

    .login-button {
        border-radius: 25px;
        width: 66%;
        height: 40px;
        font-size: 1.3rem;
        color: white;
        font-weight: 700;
        background: linear-gradient(90deg, rgb(255, 124, 101) 0%, rgb(255, 102, 46) 100%);
        border: 0px;
        cursor: pointer;
        transition: opacity 0.25s ease-out;
        margin-top: 25px;
    }

    .message {
        margin: 15px 0 0;
        color: #b3b3b3;
        font-size: 12px;
        padding-top: 10px;
    }

    .message a {
        text-decoration: none;
    }
}