.template {
    margin: 100px;
}

.template-pics {
    width: 200px;
    height: 300px;
    margin: 20px;
    padding: 0;
    border: 1px rgba(78, 74, 71, 0.113) solid;
}

.template-pics:hover {
    transform: scale(1.2);
}