.template {
    margin: 100px;
}

.template-pics {
    width: 200px;
    height: 300px;
    margin: 20px;
    padding: 0;
    border: 1px rgba(78, 74, 71, 0.113) solid;
}

.template-pics:hover {
    width: 220px;
    height: 330px;
    padding: 0;
    border: 1px rgba(144, 65, 5, 0.113) solid;
    opacity: .8;
}